.container {
  background-color: $background-color;
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 2rem;
  border-radius: 1rem;
}
.heading--1 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
  background-color: $color-white;
  margin-bottom: 2rem;
}

.input {
  outline: none;
  border: none;
  border-radius: 3rem;
  padding: 1.5rem;
  flex: 1;
}
.button {
  outline: none;
  border: none;
  border-radius: 3rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: $color-white;
  background-color: $background-color-1;
}
.table {
  font-size: 1.6rem;
  color: $color-black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.list tr,
.head tr {
  display: grid;
  grid-template-columns: 1fr 3fr 8rem;
  align-items: center;
  border-radius: 0.5rem;
  gap: 1rem;
}

.head .tasks,
.list .tasks {
  text-align: left;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.icons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.edit {
  padding: 1rem;
  border-radius: 5px;
  background-color: $background-color-2;
  cursor: pointer;
}
.del {
  padding: 1rem;
  border-radius: 5px;
  background-color: $background-color-3;
  cursor: pointer;
}
